BasedOnStyle: Google

####################
# 文件规则
####################
Language: Cpp

# 连续的空行保留几行
MaxEmptyLinesToKeep: 1

####################
# 行规则
####################

IndentWidth: 4
UseTab: Never
ColumnLimit: 0

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: true

# 连续的赋值时,对齐所有的等号
AlignConsecutiveAssignments: true

# 对齐连续的尾随的注释  
AlignTrailingComments: true

####################
# 字符规则
####################

#指针的*的挨着哪边
PointerAlignment: Right
